.main {
    margin: 0 auto;
    width: 80%;
}

header, footer, .upload-area {
    text-align: center;
}

footer {
    margin-top: 65px;
}

.upload-area {
    width: 100%;
    margin: 65px auto 40px auto;
}

#uploader {
    border: 2px solid black;
    border-radius: 6px;
    background: none;
    padding: 100px 30px;
}

.upload-area p {
    margin: 0;
}

#expiry-quantity {
    width: 40px;
}